.loginPage {
	background-color: #efefef;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 80%;
}

@media only screen and (max-width: 992px) {
	.loginPage {
		justify-content: stretch;
		flex-direction: column;
		padding: 0;
		width: 100vw;
	}

	.loginContainer {
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
	}

	.loginDesc {
		justify-content: stretch;
		width: 100%;
	}
}

.loginDesc {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.loginDesc p {
	font-size: 1.4rem;
}

.loginDesc h1 {
	color: var(--main-bg-color);
	font-weight: 1000;
	margin-bottom: 10px;
	font-size: 4rem;
}